<h1>Add a new item</h1>

<p><form action="/backdoor_enter">
  <label for="link_url">Link URL:</label>
  <input id="link_url" type="text" name="url"></p>

<p><form action="/backdoor_enter">
  <label for="link_description">Link description:</label>
  <input id="link_description" type="text" name="description"></p>

  <p><form action="/backdoor_enter">
  <label for="thumbnail_url">Thumbnail URL:</label>
  <input id="thumbnail_url" type="text" name="thumbnail"></p>

  <button>Create item</button>
  </form>
